$color-primary: #6E00FF;
$color-primary-orange: #FF7A49;
$color-primary-yellow: #FEB900;

$color-green: #00FF08;
$color-red: #FF0000;

$color-text: #dee0ef;
$color-text-light: #000000;
$color-text-dark: #707070;

$color-background: #0E1015;
$color-background-light: #181A20;
$color-background-dark: #000000;

$main-nav-width: 15rem;

$max-container-width: 120rem;
